@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
}

.navbar-transparent {
    background-color: transparent !important;
    position: relative;
  }
  

nav{
    position: relative;
    z-index: 2;
    background-color: transparent !important;
}

.nav-link.menu-active{
    background-color: darkblue;
    border-radius: 5px;
}

.circle{
    z-index: 1 !important;
    /* position: absolute !important; */
}

@media (max-width: 600px) {
    .first-circle {
        display: none !important;
    }
}


.container1, .container2 {
    width: 70px; 
    height: 70px; 
}

.container1{
    margin-left: 67%;
    display: flex;
    position: relative;
}

.container2{
    margin-left: 50%;
    display: flex;
    position: relative;
}


.star1{
    position: absolute;
    color:#080f47;
    left:2px;
    font-size: 24px;
}

.star2{
    position: absolute;
    color:black;
    left:15px;
    font-size: 24px;
}

.home-section{
    z-index: 1;
    /* position: relative !important; */
}

.home-section h1{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    word-spacing: 2px;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.home-section button{
    z-index: 2;
    margin-top: 10%;
}

.home-section button:hover{
    background-color: darkblue !important;
    pointer-events: stroke;
}

.why-section{
    background: linear-gradient(to right, black, darkblue);
    width:100vw;
}

.Talk-heading{
    font-family: "Playfair Display", serif;
}

.AMORS{
    font-size: 3em;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff, 
        0 0 10px #fff, 
        0 0 15px #050A30, 
        0 0 20px #050A30, 
        0 0 25px #fff, 
        0 0 30px #050A30;
}

.aboutUsFont{
    font-family: "Agdasima", sans-serif;
    font-weight:bolder !important;
    font-style: normal;
    color: white;

    text-shadow: 0 0 5px #fff, 
        0 0 10px #fff, 
        0 0 15px #fff, 
        0 0 20px #1e1e1e, 
        0 0 25px #232222, 
        0 0 30px #181717;
}

.aboutInfoFont{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
    width: 70%;
    color: rgb(207, 211, 213);    
}

.gradient-button {
    background: linear-gradient(blue, purple);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}




